.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  background: #ffff;
  padding-bottom: 15px;
  width: 500px;
  border-radius: 20px;
}
.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-top: 15px;
}
.text {
  font-size: 45px;
  color: #936aad;
  font-weight: 700;

}
.underline {
  width: 60px;
  height: 5px;
  background: #936aad;
  border-radius: 10px;
}
.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 25px;
}
.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 350px;
  height: 60px;
  background: #eaeaea;
  border-radius: 10px;
}
.input img {
  margin: 0px 30px 0px;
}
.input input {
  height: 50px;
  width: 300px;
  outline: none;
  border: none;
  background: transparent;
  color: #797979;
  font-size: 19px;
}
.forgot-password {
  margin-top: 20px;
  padding-left: 76px;
  font-size: 17px;
  color: #797979;
}
.forgot-password span {
  color: #4c00b4;
  cursor: pointer;
}
.sumbit-container {
  display: flex;
  gap: 60px;
  margin: 50px auto 50px;
}
.sumbit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #936aad;
  background: #eaeaea;
  font-size: 17px;
  font-weight: 500;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.sumbit.gray {
  background: #936aad;
  color: #eaeaea;
}
